.about-left img{
    width: 340px;
}

.about{
    background: #0A0214;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 0px 115px;
}

.about-title{
    position: relative;
}

.about-title h1{
    padding: 0px 30px;
    font-size: 80px;
    font-weight: 600;
}

.about-title img{
    bottom: 0;
    right: 0;
    z-index: -1;
}

.about-sections{
    display: flex;
}

.about-right{
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.about-para{
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 24px;
    font-weight: 400;
}

.about-skills{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.about-skill{
    display: flex;
    align-items: center;
    transition: 0.3s;
}

.about-skill p{
    min-width: 150px;
    font-size: 24px;
    font-weight: 500;
}


.skill-bar {
    outline: none;
    border: none;
    height: 8px;
    border-radius: 50px;
    background: linear-gradient(270deg, #00FFEC 10.41%, #8863c9 60.25%); 
    flex: 1; /* makes it stretch responsively */
  }
  
  /* Percent widths */
  .skill-bar.html   { max-width: 70%; }
  .skill-bar.js     { max-width: 70%; }
  .skill-bar.react  { max-width: 60%; }
  .skill-bar.csharp { max-width: 50%; }
  

.about-achievements{
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding-bottom: 60px;
}

.about-achievement{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    transition: 0.5s;
}

.about-achievement h1{
    font-size: 60px;
    font-weight: 700;
    background: linear-gradient(270deg, #00FFEC 10.41%, #8863c9 60.25%); 
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.about-achievement p{
    font-size: 22px;
    font-weight: 500;
}

.about-skill:hover{
    transform: scale(1.05);
    transition: 0.3s;
}

.about-achievement:hover{
    transform: scale(1.12);
    transition: 0.5s;
}

@media(max-width:520px){
    .about{
        width: 100%;
        align-items: left;
    }
    .about-title h1{
        font-size: 38px;
    }
    .about-title img{
        width: 130px;
        right: -20px;
    }
    .about-sections{
        flex-direction: column;
        padding-left: 30px;
        padding-right: 30px;
        gap: 20px;
    }
    .about-right{
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
    .about-left img{
        align-items: center;
        width:50%;
    }
    .about-para{
        gap: 4px;
        text-align: start;
        align-items: center;
        font-size: 12px;
        line-height: 16px;
    }
    .skill-bar {
        height: 6px;
      }
      .skill-bar.html   { max-width: 50%; }
      .skill-bar.js     { max-width: 50%; }
      .skill-bar.react  { max-width: 40%; }
      .skill-bar.csharp { max-width: 35%; }
      .about-skill p{
        padding-left: 20px;
        text-align: left;
        font-size: 14px;
    }
    .about-achievements{
        padding-left: 30px;
        padding-right: 30px;
        justify-content: space-between;
    }
    .about-achievement{
        gap: 10px;
    }
    .about-achievement h1{
        font-size: 24px;
        font-weight: 700;
    }
    .about-achievement p{
        text-align: center;
        font-size: 16px;
    }
}