.footer{
    background: #0A0214;
    padding: 50px 170px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.footer-top{
    display: flex;
    justify-content: space-between;
}

.footer-top-left p{
    font-size: 20px;
    max-width: 400px;
}

.footer-top-right{
    display: flex;
    align-items: center;
    gap: 35px;
}

.footerlogo{
    width: 250px;
}

.footer-botttom{
    display: flex;
    justify-content: space-between;
    font-size: 18px;
}

.footer-botttom-right{
    display: flex;
    gap: 50px;
    margin-bottom: 50px;
}

.footer-subscribe{
    color: white;
    text-decoration: none;
    padding: 20px 40px;
    border-radius: 50px;
    background: #7322ff;
    font-size: 22px;
    cursor: pointer;
    transition: 0.5s;
}

.footer-subscribe:hover{
    transform: scale(1.05);
}

@media(max-width:520px){
    .footer{
        width: 100%;
        align-self: left;
    }
    .footer-top{
        flex-direction: column;
        gap: 50px;
    }
    .footer-botttom{
        display: flex;
        flex-direction: column-reverse;
        margin-bottom: 50px;
    }
}