.hero {
  padding: 4% 6% 10% 6%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap: 10px;
  background: radial-gradient(circle at 40% 10%, #2B0C5C, transparent 60%),
              radial-gradient(circle at 60% 20%, #3C1A78, transparent 60%),
              linear-gradient(0deg, #0A0214, #120E2A);
  background-blend-mode: screen;
}

.hero-content {
  flex: 1;
}

.right-img {
  flex: 1;
  display: flex;
  justify-content: flex-start;
}

.right-img img {
  max-width: 350px;
  width: 100%;
  height: auto;
}

/* Text styling */
.hero h1 {
  text-align: center;
  width: 100%;
  font-size: 70px;
  font-weight: 600;
}

.hero h1 span {
  background: linear-gradient(270deg, #00FFEC 10.41%, #8863c9 60.25%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero p {
    text-align: center;
  font-weight: 300;
  font-size: 20px;
  margin-bottom: 20px;
}

/* Buttons */
.hero-action {
  justify-content: center;
  display: flex;
  gap: 25px;
  font-size: 24px;
  font-weight: 500;
}

.hero-connect {
  padding: 20px 40px;
  border-radius: 50px;
  background: #7322ff;
  cursor: pointer;
}

.hero-resume {
  padding: 20px 60px;
  border-radius: 50px;
  border: 2px solid #fff;
  cursor: pointer;
  display: none;
}

.hero-connect:hover { border: 2px solid white; }
.hero-resume:hover { border-color: #B415FF; }

/* 📱 Mobile Responsive */
@media (max-width: 520px) {
  .hero {
    flex-direction: column;
    text-align: center;
    gap: 10px;
  }

  .hero h1 {
    font-size: 1.2rem;
    line-height: 1;
    text-align: center;
  }

  .hero p {
    font-size: 0.43rem;
    line-height: 1.4;
    width: 100%;
    margin-bottom: 10px;
  }

  .hero-action {
    gap: 12px;
  }

  .hero-connect,
  .hero-resume {
    display: flex;             /* centers text inside */
    justify-content: center;
    align-items: center;
    padding: 6px 16px;
    font-size: 8px;
    font-weight: 500;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }



  .right-img {
    justify-content: flex-start;
  }

  .right-img img {
    max-width: 130px;
  }
}
