.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 170px;
}

.navslogo{
    width: 130px;
}

.nav-menu{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 60px;
    font-size: 20px;
}

.nav-connect{
    padding: 20px 40px;
    border-radius: 50px;
    background: #7322ff;
    font-size: 22px;
    cursor: pointer;
    transition: 0.5s;
}

.nav-connect:hover{
    transform: scale(1.05);
}

.nav-menu li{
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}

.nav-menu li img{
    display: flex;
    margin: auto;
}

.anchor-link{
    text-decoration: none;
    color: white;
}

.nav-mob-close{
    display: none;
}

.nav-mob-open{
    display: none;
}
@media(max-width:520px){
    .navbar{
        padding-left: 20px;
        margin: 20px 130px;
        width: 100%;
    }
    .nav-connect{
        display: none;
    }
    .nav-mob-open{
        display: block;
        position: fixed;
        right: 40px;
        width: 25px;
    }
    .navslogo{
        width: 80px;
    }
    .nav-mob-close{
        display: block;
        position: relative;
        top: 30px;
        left: 220px;
        width: 25px;
    }
    .nav-menu{
        position: fixed;
        flex-direction: column;
        align-items: start;
        top: 0;
        gap: 30px;
        background: radial-gradient(circle at 40% 10%, #2B0C5C, transparent 60%),
        radial-gradient(circle at 60% 20%, #3C1A78, transparent 60%),
        linear-gradient(0deg, #0A0214, #120E2A);
        background-blend-mode: screen;
        width: 280px;
        height: 100%;
        z-index: 2;
        transition: right 0.5s;
        right: -350px;
    }
    .nav-menu li{
        font-size: 24px;
        padding-left: 100px;
        flex-direction: row;
        gap: 20px;
    }
}