.services{
    background: #0A0214;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding: 80px 170p;
}

.services-title{
    position: relative;
}

.services-title h1{
    font-size: 80px;
}

.services-title img{
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
}

.services-format{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding: 60px;
    border-radius: 10px;
    border: 2px solid #00FFEC;
    transition: 0.4s;
    cursor: pointer;
}

.services-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

.services-format h3{
    font-size: 28px;
    font-weight: 600;
}

.services-format h2{
    font-size: 38px;
    font-weight: 800;
    background: linear-gradient(270deg, #00FFEC 10.41%, #8863c9 60.25%); 
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.services-format p{
    color: #00FFEC;
    font-size: 24px;
    line-height: 40px;
    max-width: 300px;
}

.services-readmore{
    display: flex;
    gap: 20px;
    align-items: center;
    margin-top: 20px;
}

.services-format:hover{
    border: 2px solid #00FFEC;
    background: linear-gradient(45deg, #408c87 10.41%, #45247e 60.25%); 
    transform: scale(1.05);
    transition: 0.4s;
}

@media(max-width:520px){
    .services{
        width: 100%;
        align-items: left;
    }
    .services-title h1{
        font-size: 38px;
    }
    .services-title img{    
    display: none;
    }
    .services-format{
        gap: 5px;
        padding: 10px;
    }
    .services-format h2{
        font-size: 18px;
    }
    .services-format p{
        font-size: 14px;
        line-height: 24px;
        max-width: 300px;
    }
    .services-readmore img{
        width: 10px;
    }
    .services-container{
        width: 50%;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }
}